{
  "openapi": "3.0.3",
  "info": {
    "title": "HR Helper API",
    "description": "HR Helper 챗봇 서비스를 위한 API 명세서입니다. 채팅 세션 관리, 메시지 송수신, 빠른 액션 등의 기능을 제공합니다.",
    "version": "1.0.0",
    "contact": {
      "name": "HR Helper Team",
      "email": "support@hrhelper.com"
    }
  },
  "servers": [
    {
      "url": "https://api.hrhelper.com/v1",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.hrhelper.com/v1",
      "description": "Staging Server"
    }
  ],
  "tags": [
    {
      "name": "Chat Sessions",
      "description": "채팅 세션 관리 API"
    },
    {
      "name": "Messages",
      "description": "메시지 송수신 API"
    },
    {
      "name": "Quick Actions",
      "description": "빠른 시작 액션 API"
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "tags": ["Chat Sessions"],
        "summary": "채팅 세션 목록 조회",
        "description": "사용자의 모든 채팅 세션 목록을 조회합니다.",
        "parameters": [
          {
            "name": "pinned",
            "in": "query",
            "description": "고정된 세션만 필터링",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "아카이브된 세션만 필터링",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "조회할 세션 수",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "시작 위치",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatSession"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Chat Sessions"],
        "summary": "새 채팅 세션 생성",
        "description": "새로운 채팅 세션을 생성합니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "세션 제목",
                    "example": "연차 사용 문의"
                  },
                  "initialMessage": {
                    "type": "string",
                    "description": "첫 메시지",
                    "example": "연차 신청 방법을 알려주세요"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "세션 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "tags": ["Chat Sessions"],
        "summary": "채팅 세션 상세 조회",
        "description": "특정 채팅 세션의 상세 정보를 조회합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "세션 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSessionDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": ["Chat Sessions"],
        "summary": "채팅 세션 수정",
        "description": "채팅 세션의 제목, 고정 상태 등을 수정합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "세션 제목"
                  },
                  "pinned": {
                    "type": "boolean",
                    "description": "고정 여부"
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "아카이브 여부"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Chat Sessions"],
        "summary": "채팅 세션 삭제",
        "description": "채팅 세션을 삭제합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sessions/{sessionId}/share": {
      "post": {
        "tags": ["Chat Sessions"],
        "summary": "채팅 세션 공유",
        "description": "채팅 세션의 공유 링크를 생성합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expiresIn": {
                    "type": "integer",
                    "description": "만료 시간 (초)",
                    "default": 604800,
                    "example": 604800
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "공유 링크 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shareUrl": {
                      "type": "string",
                      "example": "https://hrhelper.com/shared/abc123"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sessions/{sessionId}/messages": {
      "get": {
        "tags": ["Messages"],
        "summary": "메시지 목록 조회",
        "description": "특정 세션의 메시지 목록을 조회합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "이 메시지 ID 이전의 메시지 조회",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Messages"],
        "summary": "메시지 전송",
        "description": "새 메시지를 전송하고 AI 응답을 받습니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "메시지 내용",
                    "example": "연차 신청은 어떻게 하나요?"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["image", "file"]
                        },
                        "url": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "메시지 전송 및 응답 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userMessage": {
                      "$ref": "#/components/schemas/Message"
                    },
                    "aiResponse": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sessions/{sessionId}/messages/{messageId}/regenerate": {
      "post": {
        "tags": ["Messages"],
        "summary": "AI 응답 재생성",
        "description": "특정 AI 응답을 재생성합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "재생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sessions/{sessionId}/messages/{messageId}/feedback": {
      "post": {
        "tags": ["Messages"],
        "summary": "메시지 피드백",
        "description": "AI 응답에 대한 피드백을 제출합니다.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rating"],
                "properties": {
                  "rating": {
                    "type": "string",
                    "enum": ["like", "dislike"],
                    "description": "좋아요/싫어요"
                  },
                  "comment": {
                    "type": "string",
                    "description": "추가 피드백 코멘트"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "피드백 제출 성공"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/quick-actions": {
      "get": {
        "tags": ["Quick Actions"],
        "summary": "빠른 액션 목록 조회",
        "description": "사용 가능한 빠른 시작 액션 목록을 조회합니다.",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuickAction"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/quick-actions/{actionId}/prompt": {
      "get": {
        "tags": ["Quick Actions"],
        "summary": "빠른 액션 프롬프트 조회",
        "description": "특정 빠른 액션의 프롬프트 템플릿을 조회합니다.",
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actionId": {
                      "type": "string"
                    },
                    "promptTemplate": {
                      "type": "string",
                      "example": "다음 내용으로 메일 초안을 작성해주세요:\n\n받는 사람: [받는 사람]\n제목: [메일 제목]\n주요 내용: [전달하고자 하는 핵심 메시지]\n톤앤매너: [공식적/친근한/간결한 등]"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ChatSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sess_abc123"
          },
          "title": {
            "type": "string",
            "example": "연차 사용 문의"
          },
          "preview": {
            "type": "string",
            "description": "마지막 메시지 미리보기",
            "example": "연차 신청 방법을 알려드릴게요..."
          },
          "pinned": {
            "type": "boolean",
            "default": false
          },
          "archived": {
            "type": "boolean",
            "default": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatSessionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChatSession"
          },
          {
            "type": "object",
            "properties": {
              "messages": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "messageCount": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "msg_xyz789"
          },
          "sessionId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["user", "assistant"],
            "description": "메시지 발신자"
          },
          "content": {
            "type": "string",
            "example": "연차 신청은 인사시스템에서 가능합니다."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["image", "file"]
                },
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "feedback": {
            "type": "object",
            "properties": {
              "rating": {
                "type": "string",
                "enum": ["like", "dislike", null]
              },
              "comment": {
                "type": "string"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QuickAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "email_draft"
          },
          "title": {
            "type": "string",
            "example": "메일 초안 생성"
          },
          "description": {
            "type": "string",
            "example": "업무용 이메일 초안을 작성해드립니다"
          },
          "icon": {
            "type": "string",
            "example": "mail"
          },
          "category": {
            "type": "string",
            "enum": ["communication", "document", "inquiry", "other"]
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "잘못된 요청",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "인증 실패",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                },
                "message": {
                  "type": "string",
                  "example": "유효하지 않은 토큰입니다"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "NotFound"
                },
                "message": {
                  "type": "string",
                  "example": "세션을 찾을 수 없습니다"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT 토큰을 사용한 인증"
      }
    }
  }
}
